fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-google-genai
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
chromadb
supabase
pydantic
pydantic-settings
httpx
python-multipart
pillow
aiofiles
tavily-python
google-generativeai
google-genai
pypdf
tiktoken
sqlalchemy
requests
websockets
tenacity